@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');
/* se impoortanlas fuentes dede Google Fonts con la url que est치 arriba*/


/*Declaraci칩n de variables CSS*/
:root{
    --color-primario: #000000;
    --color-secundario:#F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-montserrat: "Montserrat", sans serif;
    --fuente-krona: "Krona One", sans serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    /*height: 100vh;*/
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 15%;
}

.header__menu{
    display: flex;
    gap: 80px;
}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem; 
    font-weight: 600;
    color:  var(--color-terciario);   
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    /*margin: 10% ;*/
    justify-content: space-between;
    padding: 9% 15%;
    gap: 82px;
}

.presentacion__contenido{
    width: 50%  ;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-krona);
}

.presentacion__contenido__texto a{
    text-decoration: none;
    color: var(--color-terciario);
}

.titulo-destaque{
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px; /*gap es el esacio entre elementos*/
}

.presentacion__enlaces__subtitulos{
    font-family: var(--fuente-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.presentacion__enlaces__link{
    width: 50%;
    /*background-color: #22F4FD;*/
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces__link:hover{
    background-color: var(--color-hover);
}

.presentacion__imagen{
    width: 50%;
}

.footer{
    background-color:  var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
}

/* maedia queries permite establecer tama침o de pantallas en p치gina responsiva*/
@media (max-width: 1200px){
    
    .header{
        padding: 10%;
    }

    .header__menu{
        justify-content: space-around;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentacion__contenido{
        width: auto;
    }
}
